/* ==========================================================================
   Custom CSS Styles for Namibia Implementation
   ========================================================================== */

header {
    background: #82CAFA;
    color: #404040;
}

#who-when-where {
    margin-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

#who-when-where p {
    display: inline-block;
    padding-right: 20px;
}

#where > input[type=text] {
    display: inline-block;
}

.narrow {
    width: 300px;
}

.field-error, #error-message {
    color: #ff6666;
    font-size: 1.1em;
    display: block;
}

#data-collection {
    display: inline-block;
    width: 58%;
    vertical-align: top;
}

#encounter-diagnoses-target {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}

#encounter-diagnoses-app {
    margin-bottom: 20px;
}

.section-container {
    background: #F2F2F2;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    padding: 10px 5px 10px 15px;
    line-height: 1.5em; /*add this for vertical spacing between elements*/
}

.section-container input[type="checkbox"] {
    margin: 0px 5px; /*changed values to vertical, horizontal*/
    top: 5px; /*added to offset the checkbox position to line up*/
}

.section-container label { /*new definition to override labels inside section-containers*/
    margin: 0px;
}

.section {
    width: 95%;
}

textarea {
    width: 95%;
}

p > label:first-child {
    font-size: 18px;
    font-weight: bold;
    color: #242563;
}

/* Align the radio buttons to be placed horizontally on forms */
.horizontal input[type="checkbox"], .horizontal input[type="radio"], .horizontal input[type="text"] {
    float: none;
    display: inline-block;
}

.horizontal label {
    display: inline-block;
}
